#s-924ebe8e-0181-48fd-813c-43b8884bbff4 > #backgroundBox {
  background-color: #DECC4E;
  position: absolute;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 > #alignmentBox {
  position: relative;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 {
  position: absolute;
  width: 395.99999999999943px;
  min-height: 1079.9999999999993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Image_1 {
  position: absolute;
  width: 395.9999999999995px;
  height: 263.49999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Image_1 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_1 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 48.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 48.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Image_2 {
  position: absolute;
  width: 257.99999999999955px;
  height: 305.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Image_2 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 {
  position: absolute;
  width: 213.0px;
  min-height: 69.25000000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 span {
  color: #DECC4E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #DECC4E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 {
  position: absolute;
  width: 308.99999999999727px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6F811F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6F811F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6F811F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6F811F;
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 span {
  color: #DECC4E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 24.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #DECC4E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 24.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_2 {
  position: absolute;
  width: 880.9999999999998px;
  min-height: 83.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_2 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 {
  position: absolute;
  width: 660.9375000000002px;
  min-height: 479.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #DECC4E;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 > .borderLayer {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_3 {
  position: absolute;
  width: 282.72787009753773px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_3 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_4 {
  position: absolute;
  width: 344.72787009753756px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_4 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_5 {
  position: absolute;
  width: 523.7278700975373px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_5 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_6 {
  position: absolute;
  width: 536.7278700975376px;
  min-height: 99.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_6 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_7 {
  position: absolute;
  width: 411.72787009753756px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_7 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_8 {
  position: absolute;
  width: 628.7278700975371px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_8 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_9 {
  position: absolute;
  width: 205.86393504876878px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_9 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_10 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 {
  position: absolute;
  width: 292.74999999999864px;
  min-height: 113.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6F811F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6F811F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6F811F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6F811F;
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 span {
  color: #DECC4E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 24.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #DECC4E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 24.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 {
  position: absolute;
  width: 297.74999999999864px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6F811F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6F811F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6F811F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6F811F;
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 span {
  color: #DECC4E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 24.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #DECC4E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 24.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_11 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 36.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 36.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_12 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_13 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_14 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_15 {
  box-shadow: none;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_15 span {
  color: #DECC4E;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #DECC4E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-924ebe8e-0181-48fd-813c-43b8884bbff4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}